<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
    This Application is written in Angular code
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Vamsi Thatikonda</h3>
      </div>

      <div class="text-center">@vamsithatikonda</div>
      <div class="text-center">
        <a href="https://github.com/vamsithatikonda">github.com/vamsithatikonda</a>
      </div>
    </div>
  </div>
</div>
